@*@model List<TiendaOnline.MVC.Models.Categoria>*@
@model IEnumerable<TiendaOnline.MVC.Models.Categoria>

@{
    ViewBag.Title = "Index";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
            </div>
            <h2>Categorías</h2>


            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre_categoria)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre_categoria)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id_categoria }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id_categoria })
                        </td>
                    </tr>
                }

            </table>

            <div>
                @Html.ActionLink("Agregar una nueva categoría", "Create")
            </div>
        </div>
    </div>
</div>