@model TiendaOnline.MVC.Models.Factura_cab

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Factura_cab</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_imp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_imp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procesado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procesado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Fac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Fac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estados.Nombre_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estados.Nombre_estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.codigo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
