@model IEnumerable<TiendaOnline.MVC.Models.Promociones>
@{    ViewBag.Title = "Index";}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                </div>
                <h2>Promociones</h2>

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Descuento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha_inicio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha_fin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descuento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha_inicio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha_fin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id_promocion }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id_promocion }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id_promocion })
                            </td>
                        </tr>
                    }

                </table>
                <div>
                    @Html.ActionLink("Agregar una nueva promoción", "Create")
                </div>
            </div>
        </div>
    </div>
