@model TiendaOnline.MVC.Models.Producto

@{
    ViewBag.Title = "Delete";
}<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
            </div>
            <h2>Productos</h2>

           
            <div>
      
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.cantidad)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.cantidad)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nombre_producto)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nombre_producto)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Id_categoria)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Id_categoria)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Precio)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Precio)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Id_promo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Id_promo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Imagen)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Imagen)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.Id_estado)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Id_estado)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>



                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
             
            </div>
                }
            </div>
        </div>
    </div>
</div>
   